.logo{
    width: 80px;
    margin-left: 5px;
    margin-top: 5px;
}
body{background: radial-gradient(#000000, #3d3d3d);
    background-repeat: no-repeat;
    background-size: auto;
}
html, body {
min-height: 100%;
}